body{
	background-color: #FFEEE0;
	font-family: sans-serif;
	margin:0px; 

}
.halaman-login{
	display: grid;
	grid-template-columns: 65% auto;

}
#bglogin{
	background-size: cover;
	width: 850px;
	height:100%;
	border-right: 10px solid black;
}
.header{
	background: aquamarine;
	height: 80px;
	width: 100%;
	border-bottom:11px solid black;
	
}
#logo{
	width: 90px;
	height: 90px;
	margin-left: 15px;
	margin-top: 0px;
	align-content: right;
}

h2{
	margin: 25px auto;
}

h4{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 10px;
}
.kembali{
	width: 20%;
	padding: 5px;
	cursor: pointer;
	display: block;
	text-decoration: none;
	margin-left: 25px;
	background: linear-gradient(to right, aquamarine,forestgreen);
	border: 0;
	outline: none;
	border-radius: 30px;

}
.role{
	width: 60%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	text-decoration: none;
	margin: 25px auto;
	background: linear-gradient(to right, aquamarine,forestgreen);
	border: 0;
	outline: none;
	border-radius: 30px;
	
}
.login{
	height: 395px;
	width: 350px;
	
	margin: 100px auto;
	border-radius: 10px;
	padding: 5px;
	position: relative;
	overflow: hidden;
	
}
.login-box{
	height: 500px;
	width: 350px;
	margin: 70px auto;
	border-radius: 10px;
	padding: 5px;
	position: relative;
	overflow: hidden;
	

}
.login-box1{
	height: 456px;
	width: 350px;
	
	margin: 70px auto;
	border-radius: 10px;
	padding: 5px;
	position: relative;
	overflow: hidden;
	

}
.button-box{
	text-align: center;
	
	width: 250px;
	margin: 10px  auto;
	position: relative;
	box-shadow: 0 0 20px 10px #eee;
	border-radius: 30px;
}

.button{
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
}
#t-btn{
	top: 0;
	left: 0;
	position: absolute;
	width: 140px;
	height: 35px;
	background: linear-gradient(to right, aquamarine,forestgreen);
	border-radius: 30px;
	transition: .5s;
}
.input{
	top: 130px;
	position: absolute;
	width: 280px;
	transition: .5s;
	margin: 10px auto;
}
.input1{
	top: 100px;
	position: absolute;
	width: 280px;
	transition: .5s;
	margin: 10px auto;
}
.t-input{
	width: 100%
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0; 
	border-top : 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}
.submit-button{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: linear-gradient(to right, aquamarine,forestgreen);
	border: 0;
	outline: none;
	border-radius: 30px;
}
.check-box{
	margin :30px 10px 30px 0;
}
span{
	font-size: 12px;
	bottom :65px;
	position: absolute;
}

#login{
	left: 50px;
}
#register{
	left: 450px;
}
